# Supabase Configuration
VITE_SUPABASE_URL=https://bdfvubwnxuzlcngzhiwy.supabase.co
VITE_SUPABASE_ANON_KEY=seyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkZnZ1YndueHV6bGNuZ3poaXd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNzI1MjYsImV4cCI6MjA5MDg0ODUyNn0.8LeOCJlZx-8sB6Ty8OVqAkk2mVrk30yWxT99EXUWECE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkZnZ1YndueHV6bGNuZ3poaXd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI3MjUyNiwiZXhwIjoyMDkwODQ4NTI2fQ.JQoWIPSL4Ux25MmO6IvF0sPN6C91mHj8z_3fIQdC3W8
VITE_RESEND_API_KEY=re_EqrR1Gr5_9thE8g9EJrzuEY78YJWguERH
RESEND_API_KEY=re_EqrR1Gr5_9thE8g9EJrzuEY78YJWguERH
GEMINI_API_KEY=AIzaSyCl6q3EA27Dpe7wcuG55hiWU__pfmkJxH0
VITE_GEMINI_API_KEY=AIzaSyCl6q3EA27Dpe7wcuG55hiWU__pfmkJxH0
STRIPE_SECRET_KEY=sk_test_51TQSjaFgkuKMBYAuknMHmLbx6WYaopzlPGv4GXVW3Ju1Ns25Gn994b3rgXBwiXN7t9cGkfsj21lFsS7mgGA1BoT600dQZvXIKq
STRIPE_WEBHOOK_SECRET=whsec_VLNqe0hG651XZ0bOTjq5qJ4LTcXVX3vE
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TQSjaFgkuKMBYAu9kid9GfZIQWLqYLHZdC7tkl4zt8JVvo9dvC6ggRcdcqRHV51fBSphGs2SPPKl79mpmDY89Ez00rdWA2jZ8
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TQSjaFgkuKMBYAu9kid9GfZIQWLqYLHZdC7tkl4zt8JVvo9dvC6ggRcdcqRHV51fBSphGs2SPPKl79mpmDY89Ez00rdWA2jZ8
